@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=New+Rocker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  background: rgb(6, 6, 6);
  margin: 0;
}

/* main */

#main-page {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 60px 5fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

#main-page-header {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > div {
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 900;
}

.header-highlight {
  font-family: "New Rocker", system-ui;
  font-size: 1.5rem; 
  text-align: center;
  background: linear-gradient(
    135deg,
    #ddd 0%,
    #ff000057 25%,
    #de6400 50%,
    #ffef0ea2 75%,
    #ddd 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
	text-shadow:
    0 0 2px rgba(255,255,255,0.8),
    2px 2px 4px rgba(0,0,0,0.6);
}

.burger-button-container {
  grid-area: 1/3/2/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  z-index: 10;
  -webkit-tap-highlight-color: transparent;
}

#slideshow-container {
  grid-area: 2/1/end/4;
  background: black;
  overflow: hidden;
}

#next-button-container {grid-area: 3/3/4/4;}
#prev-button-container {grid-area: 3/1/4/2;}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#prev,
#next {
  color: white;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.75rem;
  transition: 0.4s ease;
  border: none;
  z-index: 2;
  transition: transform 0.3s;
  text-shadow: 0 0 1.25rem black, 0 0 1.25rem black, 0 0 1.25rem black;
}
 
#next:hover {
  transform: translateX(4px);
  font-size: 2rem;
}

#prev:hover {
  transform: translateX(-4px);
  font-size: 2rem;
}

#dots-container {
  grid-area: 4/2/5/3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  transition: background-color 0.4s ease;
  text-shadow: 0 0 1.25rem black, 0 0 1.25rem black, 0 0 1.25rem black;
  z-index: 1;
}

.active,
.dot:hover {
  background-color: white;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/* /main */

/* slideshow */

.mySlides {
  display: none;
  height: 100%;
  width: 100%;
}

/* hover animations */
.highlight-text {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}

.highlight-text:hover {transform: scale(1.05);}

.highlight-text::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
}

.highlight-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* /hover animations */

.slide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.233);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: inset 0 0 10rem 5rem #000;
  padding: 1rem;
}

.slide-container > a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-family: 'Metal Mania';
  font-size: 3rem;
  text-shadow: 0 0 1.25rem black, 0 0 1.25rem black, 0 0 1.25rem black, 0 0 1.25rem black;
  transition: transform 0.3s ease-out;
}

.page-link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
  transform: scale(1.01);
}

#evolution-page-link {background-image: url(../Images/rock-collage-fullhd.jpg);}

#band-page-link {background-image: url(../Images/band-fullhd.jpg);}

#keyboard-page-link {background-image: url(../Images/crowd.jpg);}

#quiz-page-link {background-image: url(../Images/instruments-fullhd.jpg);}

/* /slideshow */

/* curtain menu */

.nav-box {display: none;}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  text-align: center;
}

.overlay a {
  padding: 18px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* /curtain menu */

@media screen and (min-width: 425px) {
  .slide-container a {font-size: 4rem;}
}

@media screen and (min-width: 1000px) {
  #main-page {
    grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
    grid-template-rows: 80px 1fr 1fr 80px;
  }

  #main-page-header {grid-area: 1/3/2/4;}

  .nav-box {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-box a {
    color: whitesmoke;
    font-size: 1.3rem;
    font-family: 'New Rocker', system-ui;
    text-decoration: none;
  }

  #nav-box-left {grid-area: 1/1/2/3;}
  #nav-box-right {grid-area: 1/4/2/6;}

  #slideshow-container {grid-area: 2/1/end/end;}

  #prev-button-container {grid-area: 2/1/4/2;}
  #next-button-container {grid-area: 2/5/4/6;}

  .button-container {
    display: flex;
    align-items: center;
  }

  #dots-container {grid-area: 4/3/5/4;}

  .header > div {font-size: 1.3rem;}

  .header-highlight {font-size: 1.75rem;}

  .slide-container {box-shadow: inset 0 0 10rem 5rem #000000;}

  .slide-container a {font-size: 5rem;}

  #prev,
  #next {font-size: 2rem;}

  .dot {
    width: 14px;
    height: 14px;
  }

  /* curtain-menu */
  .burger-button-container,
  .burger-button,
  .overlay {display: none;}

  /* /curtain-menu */

}